# Ignore build output and dependencies
target/
.mvn/
mvnw
mvnw.cmd
*.iml

# Ignore git and IDE configurations
.git/
.gitignore
.idea/
.settings/
.vscode/

# Ignore log files
*.log

# Ignore environment/secret files
.env
.env.example
